div.column
  div.column__header
    p.column__title tarefas
  div.column__body
    div.column__date-container
      div.column__date-line
        p.column__date HOJE
      include card.pug
      include card.pug
    div.column__date-container
      div.column__date-line
        p.column__date Amanhã, 25 de agosto 2018
      include card.pug
      include card.pug
      include card.pug
