@import 'base/normalize.scss'
@import 'base/reset.scss'

html, body
  height: 100%
  width: 100%

p, h1, h2, h3, li, ul
  margin: 0
  padding: 0

@import 'modules/list-container.sass'

@import '_general-config.sass'
